@tailwind base;
@tailwind components;
@tailwind utilities;

/* .cl-internal-1dauvpw {
    display: none;
}
/*  */
/* .cl-card {
    height: 540px;
}

.cl-cardBox {
    width: 500px;
    border: 1px solid black;
}

.cl-internal-1pr5xvn {
    margin-top: -50px;
    margin-bottom: 40px;
}

.cl-headerTitle {
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.cl-headerSubtitle {
    font-size: 1rem;
}

.cl-main {
    gap:2.5rem;
}

.cl-socialButtonsBlockButton {
    height: 45px;
}

.cl-socialButtonsBlockButtonText {
    font-size: 0.95rem;
}

.cl-internal-11m7oop {
    gap:2rem;
}

.cl-formFieldInput {
    margin-top: -15px;
}

.cl-formButtonPrimary {
    height: 40px;
}

.cl-internal-2iusy0 {
    font-size: 1rem;
} */