.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-logo img{
    color: #fff;
    width: 100px;
    margin-top: -13px;
}

.navbar-content ul {
    list-style: none;
    display: flex;
}

.navbar-content ul li {
    margin-right: 20px;
}

.navbar-content ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-contact-info a {
    color: #fff;
    text-decoration: none;
}

.navbar-login-button {
    padding: 6px 25px;
    margin-top: -10px;
    font-size: 1.2rem;
    font-family: karla;
    color: white;
    background-color: rgb(0, 0, 0);
    /* border: 1px solid white; */
    cursor: pointer;
    border-radius: 50px;
}